header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  margin-right: 5px;
  font-size: 1.1em;
}

.navbar {
  margin: 0;
  background: linear-gradient(to right, #0f4c75, #3282b8);
  border: none;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 6px 24px 0 rgba(0, 0, 0, 0.09);
}


.navbar-light .navbar-nav .nav-link {
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #e7e7e7;
}

.navbar-light .navbar-nav .nav-link:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ddd;
}

.wide-nav-link {
  width: 220px;
  white-space: nowrap;
}

.check-in,
.check-out {
  margin-left: 10px;
  margin-right: 15px;
}

/* Base dropdown styles */
.dropdown-menu {
  background-color: #0f4c75;
  color: white;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 6px 24px 0 rgba(0, 0, 0, 0.09);
}

.dropdown-menu .nav-link,
.dropdown-menu .dropdown-item {
  color: white !important;
}

.left-dropdown .dropdown-menu {
  background-color: #0f4c75;
}

.right-dropdown .dropdown-menu {
  background-color: #3282b8;
}

.dropdown-item:disabled, .dropdown-item.disabled {
  pointer-events: none;
  background-color: transparent;
  color: #6c757d;
}

.dropdown-item:hover {
  background-color: transparent;
}

.navbar-light .navbar-nav .dropdown-toggle:focus {
  color: white;
}




