.navbar-light .navbar-nav .nav-link:hover {
    background-color: #79797a;
    color: #f5f5f5;
}
  .nav-link {
    margin-right: 10px;
  }
  
  @media (max-width: 1200px) {
    .navbar-nav {
      margin-left: 0;
    }
  
    .nav-link {
      margin-right: 0;
    }
  }
  