.card-body {
  padding: 0 !important;
  background-color: #f4f4f6; 
  border: none;
  border-radius: 8px; /* Preserved the border radius to keep the card corners rounded */
  font-size: 15px;
  color: rgb(34, 34, 34);
}



th {
  background-color: #e2e2e7 !important;  /* Neutral grey shade for table headers */
  font-size: 14px !important;
  color: rgb(34, 34, 34);
  padding: 12px 10px;
  text-align: left;
  font-weight: 500;
  border: none;
}

tr {
  color: rgb(34, 34, 34);
  font-weight: 450;
}

tr:nth-child(even) {
  background-color: #ececee; /* Light grey for alternate rows */
}

tr:nth-child(odd) {
  background-color: #f4f4f6; /* Very light grey background for normal rows */
}

tr:hover td {
  background-color: #d9d9dd; /* Slightly darker grey for hover */
}

input, select {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}

.sortable-column {
  display: inline-block;
  margin-left: 10px;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  margin-right: 5px; /* Consistent with header icon spacing */
}